
.icon-td {
  position: relative;
}

.standing {
  position: absolute;
  left:0;
  top:5%;
  height: 110%;
  width: 5px;
  background: rgba(255,255,255,0.2);
}

.standing .up, .standing .down {
  width: 5px;
}

.standing .up {
   background:#5da423;
}

.standing .down {
   background:#af6025;
}

.fixdown, .fixup {
    padding: 0 5px 0 15px;
  position: relative;
    cursor: pointer;
}

.fixup {
 color :#5da423;
}

.fixdown {
 color :#af6025;
}

.fixdown::before, .fixup::before {
position: absolute;
left:0;
top:0;
font-size: 20px;
top: -7px;
}

.fixdown:hover, .fixup:hover {
  color:#dcd3c3;*

}

.fixdown::before {
content : ">";
transform: rotatez(90deg);
}

.fixup::before {
content : "<";
transform: rotatez(90deg);
}

.fixingui {
  display: inline-flex !important;
}

.infoTicker {
  position: fixed;
  bottom: 0;
  left: calc(50% - 380px);
  width: 350px;
  padding: 15px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  color: #fff;
  animation-duration: 0.5s;
  animation-name: slidein;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  white-space: nowrap;
  animation-fill-mode: forwards;
}

.infoTicker.hideme {
  animation-duration: 0.5s;
  animation-name: slideout;
  animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation-fill-mode: forwards;
}

@keyframes slideout {
  0% {
    bottom:0px;
  }

  to {
    bottom:-50px;
  }
}

@keyframes slidein {
  0% {
    bottom:-50px;
  }

  to {
    bottom:0;
  }
}
